#main{
	background-color: rgb(250, 250, 250);
}

#icon{
	width: 36px;
	height: 36px;
	text-align: center;

}

#button-text{
	font-size: 10px;
}

#report-button{
	cursor: pointer;
}

#desc-text{
	float: left;
	padding: 8px 0;
}
div{
	display: block;
}